body
{
  background: #ffff;
  color: #3a4348;
}
.qty 
{
  width: 100px;
}
.navbar-default
{
  background-color: #fff;
}
.navbar-default .navbar-brand
{
  padding: 30px;
  color: #3a4348;
  font-weight: bold;
}
.navbar-default .navbar-nav li a{
  color: #3a4348;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px;
}
.navbar-default .navbar-nav li
{
  border-right: 0.1em solid #e7e7e7;
  border-left: 0.1em solid #e7e7e7;
}
#overview
{
 padding-top: 25vh;
}
#overview .main_icons
{
  padding: 50px;
  font-size: 3em;
  background: #fff;

}
#newitem
{
padding-top: 20vh;
}
#newitem .container
{
  padding-left: 150px;
  padding-right: 150px;
}
#newitem input
{
  height: 50px;
  border-radius: 0;
  margin-bottom: 20px;

}
#newitem input:focus
{
  border-color: #e53748;
  box-shadow: none;

}
#newitem label
{
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 25px;
}
.main-head
{
  padding-bottom: 50px;
  text-transform: uppercase;
}
#newitem button
{
  margin-top: 30px;
  width: 100px;
  height: 50px;
  border-radius: 0px;
  transition: all 0.5s ease;
  border-color: #e53748;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 25px;
}
#newitem button:hover
{
  background: #e53748;
  color: #fff;
}
#viewitem
{
padding-top: 10vh;
}
#viewitem a
{
  text-decoration: none;
}
@media print
{
	#viewitem a
	{
		display:none;
	}
}
#viewitem a:hover
{
    cursor: pointer;
}
#viewitem .container
{
  padding-left: 80px;
  padding-right: 80px;
}
table th
  {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 25px;
  }
table td
{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 25px;
}
#priceModal .modal-content,#stockModal .modal-content
{
  border-radius: 0px;
  border: none;
}
#newbill
{
  padding-top: 20vh;
  padding-bottom: 50px;
}
#newbill input
{
  border-radius: 0;
  margin-bottom: 0px;

}
#newbill input:focus
{
  border-color: #e53748;
  box-shadow: none;

}
#newbill .container
{
  padding-left: 50px;
  padding-right: 50px;
}
#newbill button
{
  margin-left: 20px;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border-radius: 0px;
  transition: all 0.5s ease;
  border-color: #e53748;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 25px;
}
#newbill .col-md-offset-6
{
  text-align: right !important;
}
#newbill button:hover
{
  background: #e53748;
  color: #fff;
}
#viewbill
{
  padding-top:30vh;

}
#viewbill .container
{
  padding-left: 150px;
  padding-right: 150px;

}
.main-head
{
  color: #e53748;
}